{% extends "../base.html" %}

{% load static %}

{% block head %} 
    <link rel="stylesheet" href='{% static "css\product\myshop.css" %}'>
    <title>My Shop</title>
{% endblock head %}


<!-- this page is for owner who can change details  -->
<!--  this is different form shop_details which shows detils of shop to customers -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->


{% block content %}

    
    <div class="row">
        
        <div class="text-center text-light col-md-12 ">
            <h3 class="font-weight-bold">{{shopdata.shop_name}}</h3>
            <hr class="bg-light w-50" />
        </div>
        
        <div class="col-md-4 offset-1">
            <img src="{{shopdata.shop_image.url}}" alt="Shop Image" height="300px" width="400px" class="my-1 rounded">
            
        </div>
        <div class="d-block   col-md-7">

            <p>{{shopdata}}</p>
            <p>Owner : {{shopdata.shop_owner}}</p>
            <p>Address : {{shopdata.shop_address}}</p>
            <p>Contact : {{shopdata.shop_contact}}</p>
            <p>Duration : {{shopdata.shop_open_time}} - {{shopdata.shop_close_time}}</p>
            <p class="d-inline">Days : </p>
            {% for day in shopdata.shop_days.all  %}
            <span>{{day}} , </span>
            {% endfor %}
            <div class="row justify-content-around  my-2 ">
                <a class="btn btn-primary " href="{% url 'Update_shop' shopdata.id %}">Update Shop</a>
                <a href="{% url 'Create-Product' shopdata.id %}" class="btn btn-secondary">Add Product</a>
                <a class="btn btn-danger" href="{% url 'Delete_shop' shopdata.id %}">Delete Shop</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="text-center text-light col-md-12 ">
            <h3 class="font-weight-bold mt-3">Products</h3>
            <hr class="bg-light w-50" />
        </div>
        {% if products == None %}
        <p>No Products</p>
        {% else %}
            <!-- <div class="row"> -->
                {% for pro in products %}
                  
                <div class="col-md-3">
                    <p>{{pro.pro_name}}</p>
                </div>
                <div class="col-md-2 offset-1">
                    <img src="{{ pro.pro_image.url }}" alt="" height="50px" width="50px">
                </div>
                <div class="col-md-2">
                    <p>{{pro.pro_des}}</p>
                </div>
                <div class="col-md-1">
                    P : {{ pro.pro_price}}
                </div>
                <div class="col-md-1">
                    Q : {{ pro.pro_quantity}}
                </div>
                <div class="col-md-2">
                    <a href="{% url 'Update_product' pro.id %}" class="btn btn-light">Change</a>
                    <a href="{% url 'Delete_product' pro.id %}" class="btn btn-light">Delete</a>
                </div>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>
{% endblock content %}