
{% extends "../base.html" %}

{% block head %}
    <title>Change Pass</title>
{% endblock head %}

{% block content %}
  
<form method="POST">
    {% csrf_token %}
        {% if form.non_field_errors %} 
            {% for error in form.non_field_errors %} 
                <h1> {{ error }} </h1> <br> 
                {% endfor %} 
                {% endif %}
                {% for field in form %} 
                {{ field.label_tag }} 
                {{ field}} 
            {{ field.errors|striptags }}<br> 
        {% endfor %}
        <input type="submit" value="Save">
    </form>

{% endblock content %}