{% extends "../base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block head %}
    <link rel="stylesheet" href='{% static "css/appuser/profile.css" %}'>
  <title>Profile</title><style>
    .form-button {
        width: 20%;
        background: none;
        color : white;
        font-size: 20px;
        font-weight: 600;
    }
    .form-button:hover {
        background-color: rgb(148, 91, 16);
    }
  </style>
{% endblock head %}

{% block content %}
  
    <h1 class="text-center">Update Shop</h1>

    <!-- <div class="row border justify-content-center "> -->
        <form method="POST" enctype="multipart/form-data" class="row">
            {% csrf_token %}
            {% for field in form %}
                <div class="col-md-3 my-3 "></div>
                <div class="col-md-2">
                    {{ field.label_tag}}
                </div>
                <div class="col-md-4 my-2">
                    {{field | add_class:"form-control bg-transparent"}}
                </div>
                <div class="col-md-3"></div>
            
            {% endfor %}
            <hr class="bg-light" />
            <input type="submit" value="Save" class="my-2 mx-auto form-button btn btn-primary">
        </form>
{% endblock content %}