
{% extends "../base.html" %}

{% block head %}
    <title>Data</title>
{% endblock head %}

{% block content %}
  

    <h1 class="text-center mt-5"> Username : {{ form.username.value }}</h1>
    
    


    <form method="POST">
        {% csrf_token %}
        <div class="row border-bottom">

            {% for field in form %}
            <div class="col-md-3 text-center">
                {{ field.label_tag }} 
            </div> 
            <div class="col-md-3 border-right ">
                {{ field.value }} 
            </div><br>
            {% endfor %}
        </form>
    </div>
{% endblock content %}    